*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#main-container{
    width:100vw;
    height:100%;
    
}
.mini-container{
    display:flex;
    justify-content: center;
    width:60%;
    height:80px;
    margin: 40px 20px 0 250px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    position:fixed;
    box-shadow:5px 5px 8px #000;
}
.li{
    margin-left:100px;
    display:flex;
    justify-content:space-evenly;
    
}
.nav-btn{
    margin: 20px 25px  150px 40px ;
}

/* .mini-container {
    display:flex;
    justify-content: space-evenly;
    padding:auto;
    padding-top:30px;
    width:60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    position:fixed;
    border:2px solid #fff;
    border-radius: 50px;
    box-shadow:5px 5px 5px #000; 
    margin-top:30px;
    margin-left:70px;

} */
.mini-container ul{
    list-style: none;
    display:flex;
    justify-content: space-around;
    width:850px;
    padding-top:20px;
}
.mini-container ul div{
    padding-left:20px;
    display:flex;
    justify-content:space-around;
    width:350px;
}
.mini-container ul div button{
    width:150px;
    height:45px;
    border:2px solid rgb(248, 124, 145);
    border-radius:30px ;
    font-size:17px;
    color:#fff;
    background:rgb(248, 124, 145);
    margin:auto;
}
.second .p{
    border:none;
    width:70%;
    height:80px;
    border-radius:30px;
    background:#384368;
    color:#ffff;
    margin-left:130px;
    position:relative;
    top:160px;
    font-size:21px;
    text-align:center;
    padding-top:15px;
}
.second .img{
    margin-top:200px;
    margin-left:700px;
}
.header{
    padding-left:260px;
    padding-top:50px;
    font-size:50px;
    font-weight:800;
}
.header span{

    display:block;
    padding-left:350px;
    
}
.h4{
    font-weight:200;
    font-size:30px;
    text-align:center;
    padding-top:20px;
}
.btn{
    width:140px;
    height:50px;
    border:none;
    border-radius:30px;
    background:rgb(224, 101, 121);
    margin:20px 20px auto 600px;
    color:#fff;
    font-size:16px;


}